@if (this.ncmd) {
  <div>
    <h3 class="title">Confirmation de transaction</h3>
    <div class="bar-prodression">
      <app-stepper [step]="3"></app-stepper>
    </div>
    <!-- <div class="param-box">
    <h3 class="inline">Numéro de commande :</h3>
    <p class="inline">&nbsp;{{ this.ncmd }}</p>
    <br>
      <h3 class="inline">Ticket de transaction :</h3>
      <p class="inline">&nbsp;{{ this.ticket }}</p>
      <br>
        <br>
          <p class="inline">{{ this.message }}</p>
        </div> -->
        <div class="param-box">
          <p>
            Votre @if ((this.transaction == 'CBB')) {
            <span>commande</span>
            }@if (this.transaction == 'DEV') {
            <span>devis</span>
            } a bien été
            @if (!(this.transaction == 'DEV')) {
              <span>prise en compte</span>
              }@if (this.transaction == 'DEV') {
              <span>enregistrée</span>
            }
            sous le <b>n° {{ this.ncmd }}</b>
            Vous allez recevoir un mail de confirmation.
          </p>
          <!-- DEVIS -->
          @if (this.transaction == 'DEV') {
            <p>
              Pour valider votre devis retournez-nous simplement par mail votre devis avec la mention "bon pour accord"
            </p>
          }
          <!-- COMMANDE -->
          @if ((this.transaction == 'CBB')) {
            <p>
              Son état de traitement et d’avancement est accessible par l’option du menu <a routerLink="/espace-client/commandes"> commandes</a>
            </p>
          }
          <!-- VIREMENT -->
          @if ((this.transaction == 'VIR')) {
            <p>
              Votre commande n° {{this.ncmd}} sera prise en compte à la réception de votre virement. <br>
              Veillez à rappeller votre numéro de commande ainsi que votre numéro de client dans l'intitulé du virement.<br>
              IBAN  FR76 1780 7000 3505 1663 764 <br>
              BIC CCBPFRPPTLS
              Son état de traitement et d’avancement est accessible par l’option du menu <a routerLink="/espace-client/commandes"> commandes</a>
            </p>
          }
          <!-- TICKET -->
          @if (this.ticket !== 0) {
            <p>Ticket bancaire de règlement n° {{ this.ticket }} </p>
          }
        </div>
        <div class="margin">
          <button
            mat-raised-button
            class="raised-button"
            routerLink="/"
            >
            CONTINUER
          </button>
        </div>
      </div>
    } @else {
      Pas de commande à confirmer
    }
