<table mat-table
  [dataSource]="this.dataSource" multiTemplateDataRows matSort
  class="mat-elevation-z3">
  @for (column of columnsToDisplay; track column; let i = $index) {
    <ng-container matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{test[i]}} </th>
      <td mat-cell *matCellDef="let element">
        @if (column == 'numerorma') {
          @if (element.pdfrma) {
            <a target="_blank" style="text-decoration: underline" [href]="environment.apiUrlActn + '/document/generate_intra.php?document=RMA/' + element.numclient + '/' + element[column]">
              {{ element[column] }} <fa-icon [icon]="faFilePdf"></fa-icon>
            </a>
            {{ ' du ' + element.daterma }}
          } @else {
            {{ element[column] + ' du ' + element.daterma }}
          }
        } @else {
          {{element[column]}}
        }
      </td>
    </ng-container>
  }
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        @if (expandedElement !== element) {
          <mat-icon>keyboard_arrow_down</mat-icon>
        }
        @if (expandedElement === element) {
          <mat-icon>keyboard_arrow_up</mat-icon>
        }
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell style="background-color: #f4f4f4fa" *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div><strong>Commentaire du SAV :</strong> {{ element.commentaires }}</div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
