.campagne-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.mat-mdc-form-field {
  margin-bottom: 15px;
}

button {
  align-self: flex-end;
}

@media (max-width: 600px) {
  .campagne-form {
    padding: 0 15px;
  }
}

.annuler {
  color: var(--color-warn);
  --mat-protected-button-ripple-color: var(--color-warn-ripple) !important;
  --mat-protected-button-state-layer-color: var(--color-warn) !important;
}


.btn-haha {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
