
<div class="docs">
  @if (idClient) {
  <app-title-w-line [title]="'Documents client'"></app-title-w-line>
  <div class="gest-fichier">
    <div class="items-gest" style="width: 70%">
      <div class="mat-elevation-z3">
        <mat-form-field style="margin: 10px 0 0 10px;">
          <mat-label>Rechercher</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Exemple.txt" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
            <td mat-cell *matCellDef="let row" (click)="fileService.downloadFileClient(row.name, idClient)"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de créa. </th>
            <td mat-cell *matCellDef="let row" (click)="fileService.downloadFileClient(row.name, idClient)"> {{row.createdAt}} </td>
          </ng-container>

          <ng-container matColumnDef="share">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button mat-button (click)="shareDocumentsClient(row.name, idClient.toString())">
                <mat-icon style="color: var(--color-primary-second); margin: 0">share</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
              <button mat-button (click)="openSupprConfirm(row, 'client')"><mat-icon style="color: var(--color-warn); margin: 0">delete</mat-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Pas de résultats</td>
          </tr>
        </table>
        <mat-paginator #paginatorClient [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of client documents"></mat-paginator>
      </div>
    </div>
    <div class="items-gest drop-zone" style="width: 28%" appUpload (onFileDropped)="uploadFile($event)">
      <div class="text-drop-zone">
        <div style="display: flex; width: 100%; justify-content: center">
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <p>Glisser et Déposer un fichier ici ou</p>
        <input type="file" #fileInput>
        <button mat-raised-button (click)="uploadFile(fileInput.files[0])">Envoyer</button>
      </div>
    </div>
  </div>
  }

  <ng-container *ngIf="groupement">
    <app-title-w-line [title]="'Documents groupement'"></app-title-w-line>
    <div class="gest-fichier">
      <div class="items-gest" style="width: 70%">
        <div class="mat-elevation-z3">
          <mat-form-field style="margin: 10px 0 0 10px;">
            <mat-label>Rechercher</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Exemple.txt" #input>
          </mat-form-field>
          <table mat-table [dataSource]="dataSourceGroupe" matSort>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
              <td mat-cell *matCellDef="let row" (click)="fileService.downloadFileGroupe(row.name, groupement)"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de créa. </th>
              <td mat-cell *matCellDef="let row" (click)="fileService.downloadFileGroupe(row.name, groupement)"> {{row.createdAt}} </td>
            </ng-container>

            <ng-container matColumnDef="share">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <button mat-button (click)="shareDocumentsGroupement(row.name, groupement)">
                  <mat-icon style="color: var(--color-primary-second); margin: 0">share</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let row">
                <button mat-button (click)="openSupprConfirm(row, 'groupe')"><mat-icon style="color: var(--color-warn); margin: 0">delete</mat-icon></button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Pas de résultats</td>
            </tr>
          </table>
          <mat-paginator #paginatorGroupe [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of group documents"></mat-paginator>
        </div>
      </div>
      <div class="items-gest drop-zone" style="width: 28%" appUpload (onFileDropped)="uploadFileGroupe($event)">
        <div class="text-drop-zone">
          <div style="display: flex; width: 100%; justify-content: center">
            <mat-icon>cloud_upload</mat-icon>
          </div>
          <p>Glisser et Déposer un fichier ici ou</p>
          <input type="file" #fileInputGroupe>
          <button mat-raised-button (click)="uploadFileGroupe(fileInputGroupe.files[0])">Envoyer</button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="campagne">
    <app-title-w-line [title]="'Documents Campagne'"></app-title-w-line>
    <div class="gest-fichier">
      <div class="items-gest" style="width: 70%">
        <div class="mat-elevation-z3">
          <mat-form-field style="margin: 10px 0 0 10px;">
            <mat-label>Rechercher</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Exemple.txt" #input>
          </mat-form-field>
          <table mat-table [dataSource]="dataSourceCampagne" matSort>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
              <td mat-cell *matCellDef="let row" (click)="fileService.downloadFileCampagne(row.name, campagne)"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de créa. </th>
              <td mat-cell *matCellDef="let row" (click)="fileService.downloadFileCampagne(row.name, campagne)"> {{row.createdAt}} </td>
            </ng-container>

            <ng-container matColumnDef="share">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <button mat-button (click)="shareDocumentsCampagne(row.name, campagne)">
                  <mat-icon style="color: var(--color-primary-second); margin: 0">share</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let row">
                <button mat-button (click)="openSupprConfirm(row, 'campagne')"><mat-icon style="color: var(--color-warn); margin: 0">delete</mat-icon></button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Pas de résultats</td>
            </tr>
          </table>
          <mat-paginator #paginatorCampagne [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of campaign documents"></mat-paginator>
        </div>
      </div>
      <div class="items-gest drop-zone" style="width: 28%" appUpload (onFileDropped)="uploadFileCampagne($event)">
        <div class="text-drop-zone">
          <div style="display: flex; width: 100%; justify-content: center">
            <mat-icon>cloud_upload</mat-icon>
          </div>
          <p>Glisser et Déposer un fichier ici ou</p>
          <input type="file" #fileInputCampagne>
          <button mat-raised-button (click)="uploadFileCampagne(fileInputCampagne.files[0])">Envoyer</button>
        </div>
      </div>
    </div>
  </ng-container>

</div>

<div class="popup" [ngClass]="{active: showPopup}">
  <div class="popup-background" (click)="showPopup = false" (tap)="showPopup = false"></div>
  <div class="popup-window size-default raised-3">
    <h2>Êtes-vous sur de vouloir supprimer ce fichier ?</h2>
    <h4>Suppression de : {{ rowSelected.name }} {{typeDeletion}}</h4>
    <div class="btn-action">
      <button mat-raised-button class="btn-zbi delete"
      (click)="deleteFile(rowSelected.name, getDeletionParameter())">Supprimer</button>
      <button mat-raised-button class="btn-zbi cancel" (click)="showPopup = false;">Annuler</button>
    </div>
  </div>
</div>

<div class="popup" [ngClass]="{active: tesGrosseMelissandre}">
  <div class="popup-background" (click)="tesGrosseMelissandre = false" (tap)="tesGrosseMelissandre = false"></div>
  <div class="popup-window size-default raised-3">
    <h2>Fichier trop volumineux 50mo max</h2>
    <div class="btn-action">
      <button mat-raised-button class="btn-zbi cancel" (click)="tesGrosseMelissandre = false;">Annuler</button>
    </div>
  </div>
</div>

<div class="popup" [ngClass]="{active: pasLesBonsChiffres}">
  <div class="popup-background" (click)="pasLesBonsChiffres = false" (tap)="pasLesBonsChiffres = false"></div>
  <div class="popup-window size-default raised-3">
    <h2>Extension de fichier interdite</h2>
    <div class="btn-action">
      <button mat-raised-button class="btn-zbi cancel" (click)="pasLesBonsChiffres = false;">Annuler</button>
    </div>
  </div>
</div>
